body {
    background: #325886;
}

main {
    font-family: 'Sierra Madre', monospace;
}

h1 {
    font-family: Overseer, monospace;
}

.navbar {
    background-color: #FEF265;
    font-family: Overseer, monospace;
}

.navbar .nav-link,
.navbar-text {
    font-size: 1.5em;
    padding: 0;
}

.navbar-brand {
    font-size: 2em;
}

#character_name {
    text-align: center;
    vertical-align: auto;

    /* Deixar num tamanho adequado */
    flex-grow: 3;
    max-width: 20rem;
    max-height: 2.5rem;

    /* Hackzinho pra ficar no formato de "pill" */
    border-radius: 500px;
    background-color: #FCE8A4;
}

#username {
    text-align: center;
}

.section {
    background-color: #FCE8A4;
    border-radius: 5px;
    text-align: center;
}

.text_field {
    background-color: #FCE8A4;
    border-radius: 5px;
    font-size: 1.2rem;
    text-align: center;
}

/* Por enquanto é igual, mudar depois */
.table_region {
    border-radius: 5px;
    background-color: #FCE8A4;
    font-size: 1.3rem;
    letter-spacing: 0.05rem;
    text-align: center;
    width: 100%;
}

.input_label {
    font-size: 1.15rem;
    font-weight: bold;
}

.number_input {
    font-family: 'Monofont', monospace;
    letter-spacing: 0.05rem;
    text-align: center;
    padding: 2px;

    border: none;
    outline: none;

    background-color: #FEF5D7;
    border-radius: 5px;
    border-bottom: 2px solid transparent;
    width: 5rem;
}

.number_input:focus {
    border-bottom: 2px solid rgb(33, 37, 41);
    text-align: center;
}

.digit_input {
    width: 2.5rem;
}

.max_number {
    font-family: 'Monofont', monospace;
    letter-spacing: 0.05rem;
    text-align: center;
    padding: 2px;
}

.special_header {
    font-size: 2.5rem;
    border-radius: 90% 90% 0 0;
}

.special_stat {
    font-size: 1.5rem;
}

.str_attr {
    background-color: #797D62;
}

.per_attr {
    background-color: #9B9B7A;
}

.end_attr {
    background-color: #D9AE94;
}

.cha_attr {
    background-color: #F1DCA7;
}

.int_attr {
    background-color: #FFCB69;
}

.agi_attr {
    background-color: #D08C60;
}

.lck_attr {
    background-color: #997B66;
}

.section_title {
    font-weight: bold;
    font-size: 1.3rem;
}

.limb_table {
    border: 1px solid #82A7D6;
    border-radius: 5px;
    width: -moz-fit-content;
    width: fit-content;
    background-color: #FEF5D7;
}

.limb_table_title {
    font-weight: bold;
    border-bottom: 1px solid #82A7D6;
    background-color: #82A7D6;
}

.limb_table_name {
    width: 4rem;
}

.limb_table_value {
    width: 4rem;
    font-family: Monofont, monospace;
}

.limb_table_name:nth-of-type(2),
.limb_table_value:nth-of-type(2) {
    width: 4rem;
    border-left: 1px solid #82A7D6;
    border-right: 1px solid #82A7D6;
}

#body_stats {
    background-image: url(res/Body_Status.png);
    background-attachment: scroll;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 50%;
}

.skill_name {
    font-weight: normal;
}

.table_header {
    border-bottom: 2px solid #325886;
}

.table_text {
    font-family: Monofont, monospace;
    font-weight: lighter;
    font-size: 1rem;
}

.item_row {
    height: 2em;
}

.attr_number {
    font-family: Monofont, monospace;
}

.attr_select {
    font-weight: bold;
}

.attr_select[data-chosen='str'] {
    background-color: #797D62;
}

.attr_select[data-chosen='per'] {
    background-color: #9B9B7A;
}

.attr_select[data-chosen='end'] {
    background-color: #D9AE94;
}

.attr_select[data-chosen='cha'] {
    background-color: #F1DCA7;
}

.attr_select[data-chosen='int'] {
    background-color: #FFCB69;
}

.attr_select[data-chosen='agi'] {
    background-color: #D08C60;
}

.attr_select[data-chosen='lck'] {
    background-color: #997B66;
}

.perk_container {
    background-color: #E3D194;
    border-radius: 5px;
    font-family: Monofont, monospace;
}

.perk_header {
    border-bottom: 1px solid #325886;
}

.perk_rank_checkbox {
    background-color: #82A7D6;
}

.perk_name {
    font-weight: bold;
}

.perk_description {
    text-align: justify;
    max-height: 10rem;
}