body {
    background: #325886;
    font-size: 1em;
}

@media screen and (min-width: 768px) {
    body {
        font-size: 1.2em;
    }
}

@media screen and (min-width: 992px) {
    body {
        font-size: 1.3em;
    }
}

@media screen and (min-width: 1200px) {
    body {
        font-size: 1.6em;
    }
}

@media screen and (min-width: 1400px) {
    body {
        font-size: 1.8em;
    }
}

main {
    font-family: 'Sierra Madre', monospace;
}

h1 {
    font-family: Overseer, monospace;
}

.navbar {
    background-color: #FEF265;
    font-family: Overseer, monospace;
}

.navbar .nav-link,
.navbar-text {
    font-size: 1em;
    padding: 0;
}

.navbar-brand {
    font-size: 1.5em;
}

#character-name {
    text-align: center;
    vertical-align: auto;

    /* Deixar num tamanho adequado */
    flex-grow: 3;
    max-width: 20em;
    max-height: 2.5em;

    /* Hackzinho pra ficar no formato de "pill" */
    border-radius: 500px;
    background-color: #FCE8A4;
}

#username {
    text-align: center;
}

.section {
    background-color: #FCE8A4;
    border-radius: 5px;
    text-align: center;
}

.secondary-stat-header {
    font-size: 0.8rem;
}

.text-field {
    background-color: #FCE8A4;
    border-radius: 5px;
    font-size: 1.2rem;
    text-align: center;
}

/* Por enquanto é igual, mudar depois */
.table-region {
    border-radius: 5px;
    background-color: #FCE8A4;
    font-size: 1.0rem;
    letter-spacing: 0.05rem;
    text-align: center;
    width: 100%;
}

.input-label {
    font-size: 1rem;
    font-weight: bold;
}

.number-input {
    font-family: 'Monofont', monospace;
    letter-spacing: 0.05rem;
    text-align: center;

    border: none;
    outline: none;

    background-color: #FEF5D7;
    border-radius: 5px;
    border-bottom: 2px solid transparent;
    width: 5rem;
    max-height: 1.5rem;
}

.number-input:focus {
    border-bottom: 2px solid rgb(33, 37, 41);
    text-align: center;
}

.digit-input {
    width: 3rem;
}

.max-number {
    font-family: 'Monofont', monospace;
    letter-spacing: 0.05rem;
    text-align: center;
}

.special-header {
    font-size: 2rem;
    border-radius: 90% 90% 0 0;
}

.special-stat {
    font-size: 1rem;
}

.str-attr {
    background-color: #797D62;
}

.per-attr {
    background-color: #9B9B7A;
}

.end-attr {
    background-color: #D9AE94;
}

.cha-attr {
    background-color: #F1DCA7;
}

.int-attr {
    background-color: #FFCB69;
}

.agi-attr {
    background-color: #D08C60;
}

.lck-attr {
    background-color: #997B66;
}

.section-title {
    font-weight: bold;
    font-size: 1.2rem;
}

.limb-table {
    border: 1px solid #82A7D6;
    border-radius: 5px;
    width: -moz-fit-content;
    width: fit-content;
    background-color: #FEF5D7;
}

.limb-table-title {
    font-weight: bold;
    border-bottom: 1px solid #82A7D6;
    background-color: #82A7D6;
}

.limb-table-name {
    width: 4rem;
}

.limb-table-value {
    width: 4rem;
    font-family: Monofont, monospace;
}

.limb-table-name:nth-of-type(2),
.limb-table-value:nth-of-type(2) {
    width: 4rem;
    border-left: 1px solid #82A7D6;
    border-right: 1px solid #82A7D6;
}

#body-stats {
    background-image: url(res/Body_Status.png);
    background-attachment: scroll;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 50%;
}

.skill-name {
    font-weight: normal;
}

.table-header {
    border-bottom: 2px solid #325886;
}

.table-text {
    font-family: Monofont, monospace;
    font-weight: lighter;
    font-size: 1rem;
}

.item-row {
    height: 2em;
}

.attr-number {
    font-family: Monofont, monospace;
}

.attr-select {
    font-weight: bold;
}

.attr-select[data-chosen='str'] {
    background-color: #797D62;
}

.attr-select[data-chosen='per'] {
    background-color: #9B9B7A;
}

.attr-select[data-chosen='end'] {
    background-color: #D9AE94;
}

.attr-select[data-chosen='cha'] {
    background-color: #F1DCA7;
}

.attr-select[data-chosen='int'] {
    background-color: #FFCB69;
}

.attr-select[data-chosen='agi'] {
    background-color: #D08C60;
}

.attr-select[data-chosen='lck'] {
    background-color: #997B66;
}

.perk-container {
    background-color: #E3D194;
    border-radius: 5px;
    font-family: Monofont, monospace;
}

.perk-header {
    border-bottom: 1px solid #325886;
}

.perk-rank-checkbox {
    background-color: #82A7D6;
}

.perk-name {
    font-weight: bold;
}

.perk-description {
    text-align: justify;
    max-height: 10rem;
}

@media screen and (min-width: 992px) {
    .section-title {
        font-size: 1.2em;
    }

    #skills-table {
        font-size: 1.0em;
    }

    .limb-table-name {
        font-size: 0.9em;
    }

    #body-stats {
        background-size: 35%;
    }
}