body {
    background: #325886;
}

h1 {
    font-family: Overseer, monospace;
}

.navbar {
    background-color: #FEF265;
    font-family: Overseer, monospace;
}

.navbar .nav-link,
.navbar-text {
    font-size: 1.5em;
    padding: 0;
}

.navbar-brand {
    font-size: 2em;
}

#character-name {
    text-align: center;
    vertical-align: auto;

    /* Deixar num tamanho adequado */
    flex-grow: 3;
    max-width: 20rem;
    max-height: 2.5rem;

    /* Hackzinho pra ficar no formato de "pill" */
    border-radius: 500px;
    background-color: #FCE8A4;
}

#username {
    text-align: center;
}

.secao {
    text-align: center;
    border: 1px solid #FCE8A4;
}